<!DOCTYPE html>
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="https://fb.me/react-15.2.1.min.js"></script>
    <script src="https://fb.me/react-dom-15.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/timepicker/materialize.clockpicker.css" />
    <title>{{ site_name }} {% block title %}{% endblock %}</title>

    <!-- Compiled and minified JavaScript -->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>

<body>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url "statistics" %}">Statistieken</a></li>
  <li><a href="{% url "settings" %}">Instellingen</a></li>
  <li class="divider"></li>
  <li><a href="{% url "logout" %}">Afmelden</a></li>
</ul>
<nav role="navigation" style="background-color: {{ color_up }} !important;">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right">{{ site_name }}</a>
            {% if user.is_authenticated %}
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li class="{% block search_active %}{% endblock %}"><a href="{% url "search" %}"><i class="left material-icons" style="margin-right:-5px;">search</i>&nbsp;</a></li>
                <li class="{% block orders_active %}{% endblock %}"><a href="{% url "index" %}"><i class="material-icons left">work</i>Opdrachten</a></li>
                <li class="{% block agreements_active %}{% endblock %}"><a href="{% url "agreement_index" %}"><i class="material-icons left">group_work</i>Overeenkomsten</a></li>
                <li class="{% block invoices_active %}{% endblock %}"><a href="{% url "get_invoices" %}"><i class="material-icons left">credit_card</i>Facturen</a></li>
                <li class="{% block more_active %}{% endblock %}"><a class="dropdown-button"  href="#!" data-activates="dropdown1"><i class="material-icons left">arrow_drop_down</i>Meer</a></li>
            </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="{% url "index" %}"><i class="material-icons left">work</i>Opdrachten</a></li>
                <li><a href="{% url "agreement_index" %}"><i class="material-icons left">group_work</i>Overeenkomsten</a></li>
                <li><a href="{% url "get_invoices" %}"><i class="material-icons left">credit_card</i>Facturen</a></li>
                <li><a href="{% url "statistics" %}"><i class="material-icons left">assessment</i>Statistieken</a></li>
                <li><a href="{% url "settings" %}"><i class="material-icons left">settings</i>Instellingen</a></li>
                <li><a href="{% url "search" %}"><i class="left material-icons">search</i>Zoeken</a></li>
                <li><a href="{% url "logout" %}">Afmelden</a></li>
              </ul>
            {% endif %}
        </div>
    </div>
</nav>


<div id="header">
    {% block header %} {% endblock %}
</div>

<main>

{% block breadcrumbs %}
{% endblock %}

<div class="row">
    {% render_breadcrumbs %}
    <div class="col s12 m4 l3">
        <h4>Extra acties</h4>
        <div class="collection">
            {% block side_menu %}
            {% endblock %}
        </div>
    </div>

    <div class="col s12 m8 l9">
    {% block content %}{% endblock %}
    {% block content2 %}{% endblock %}
    </div>
</div>
</main>

<footer class="page-footer" style="background-color: {{ color_down }} !important;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{ site_name }}</h5>
                <p class="grey-text text-lighten-4">Versie 2.0 beta pre-m2.<br /> Problemen gevonden? <a href="mailto:support@invoicegen.nl" class="grey-text text-lighten-3">Meld het ons!</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/">InvoiceGen.nl</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/status">Servicestatus</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/blog">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:support@invoicegen.nl">Vragen of opmerkingen? Mail ons!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {% now "Y" %} Alle rechten voorbehouden
        </div>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function() {
          $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown();
    });
</script>
</body>
</html>