{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% block orders_active %}active{% endblock %}
{% block title %}
    Opdrachten
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Opdrachten" "index" %}
{% endblock %}

{% block content %}
    {% if first_time %}
        <div class="card-panel green">
            <b>Welkom bij InvoiceGen!</b> Voordat u begint met het maken van facturen, overeenkomsten en opdrachten, zorg ervoor dat u eerst even een bezoek brengt aan <a href="/instellingen" class="blue-grey-text text-darken-2">Instellingen</a> om uw persoonlijke gegevens in te vullen.
            Pas als u dat gedaan hebt, is het mogelijk om een overeenkomst toe te voegen en facturen te genereren. Opdrachten toevoegen is wel gewoon mogelijk. Bedankt, het team van InvoiceGen.
        </div>
    {% endif %}
    <h1>Opdrachten beheren</h1>
    <a href="{% url "company_add" %}">Nieuwe opdrachtgever toevoegen</a> | <a href="{% url "company_index" %}">Opdrachtgevers beheren</a>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 active"><a href="#openstaand">Openstaand</a></li>
                {% for year in years %}
                    <li class="tab col s3"><a href="#{{year}}">{{ year }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="openstaand" class="col s12">
                {% csrf_token %}
            <table  class="striped responsive-table">
                <thead>
                        <th data-field="select"></th>
                        <th data-field="id">Opdracht</th>
                        <th data-field="word_count">Aantal</th>
                        <th data-field="magazine">Opdrachtgever</th>
                        <th data-field="date">Datum</th>
                        <th data-field="paid">Factuur/Overeenkomst</th>
                        <th data-field="paid"></th>
                    </thead>
                    <tbody>

                        {% for article in active_articles %}
                            <tr>
                                <td><input type="checkbox" id="{{ article.id }}" value="{{ article.id }}" name="to_invoice" /><label for="{{ article.id }}"></label></td>
                                <td><a href="#" class="dialog-trigger modal-trigger" value="{{ article.id }}">{{ article.title }}</a></td>
                                <td>{{ article.quantity }}</td>
                                <td>{{ article.from_company.company_name }}</td>
                                <td>{{ article.date_deadline }}</td>
                                <td>{% if article.invoice %} <a href="{{ article.invoice.file_path }}">Openen</a> {% else %} Nee {% endif %} / {% if article.agreement %} <a href="/overeenkomsten/ondertekenen/{{ article.agreement.url }}">Openen</a> {% else %} Geen {% endif %}</td>
                                <td>
                                    <a href="{% url "edit_product" article.id %}"><i class="material-icons">edit</i></a>
                                    <a href="#modal1" class="modal-trigger delete" value="{{ article.id }}" name="{{ article.title }}"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        <p>
            <a href="#" class="waves-effect waves-light btn done-button">Opdrachten afgerond</a></p>
        </div>

        {% for y, a in articles.items %}
            <div id="{{ y }}" class="col s12">
                {% csrf_token %}
                <table  class="striped responsive-table">
                <thead>
                        <th data-field="select"></th>
                        <th data-field="id">Opdracht</th>
                        <th data-field="word_count">Aantal</th>
                        <th data-field="magazine">Opdrachtgever</th>
                        <th data-field="date">Datum</th>
                        <th data-field="paid">Factuur/Overeenkomst</th>
                        <th data-field="paid"></th>
                    </thead>

                    <tbody>
                            {% for article in a %}
                            <tr>
                                <td><input type="checkbox" id="{{ article.id }}" value="{{ article.id }}" name="to_invoice" /><label for="{{ article.id }}"></label></td>
                                <td><a href="#" class="dialog-trigger modal-trigger" value="{{ article.id }}">{{ article.title }}</a></td>
                                <td>{{ article.quantity }}</td>
                                <td>{{ article.from_company.company_name }}</td>
                                <td>{{ article.date_deadline }}</td>
                                <td>{% if article.invoice %} <a href="{{ article.invoice.file_path }}">Openen</a> {% else %} Geen {% endif %} / {% if article.agreement %} <a href="{% url "view_agreement" article.agreement.url %}">Openen</a> {% else %} Geen {% endif %}</td>
                                <td>
                                    <a href="{% url "edit_product" article.id %}"><i class="material-icons">edit</i></a>
                                    <a href="#modal1" class="modal-trigger delete" value="{{ article.id }}" name="{{ article.title }}"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            <div>
                <p>
                    <a href="#modal2" class="modal-trigger waves-effect waves-light btn">Factureren</a>
                </p>
                </div>
            </form>
            </div>
        {% endfor %}

            <a class="btn-floating btn-large waves-effect waves-light red right" href="{% url "add_product" %}"><i class="material-icons">add</i></a>
            {% if toast %}
                <script type="text/javascript">
                    Materialize.toast('{{ toast }}', 4000)
                </script>
            {% endif %}
    </div>


<div id="modal-invoice" class="modal">
   <div class="modal-content">
      <h4>Factuur aanmaken</h4>
      <p id="confirmText">Geef het gewenste volgnummer op:
          <input type="number" id="volgnummer" placeholder="Volgnummer" min="1">
      </p>

    </div>
    <div class="modal-footer">
      <a href="#" class=" modal-action waves-effect waves-green btn-flat" id="factureren">Aanmaken</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
  </div>

<div id="dialog" title="Artikel"></div>

     <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Artikel verwijderen</h4>
      <p id="confirmText">Weet u zeker dat u deze opdracht wilt verwijderen?</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="deleteLink" class=" modal-action modal-close waves-effect waves-green btn-flat">Verwijderen</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
  </div>


 <div id="modal-article" class="modal" style="height:600px">
    <div class="modal-content" style="height:500px">
      <iframe class="article-iframe" style="border: 0px;" src="" width="100%" height="500px"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
  </div>

    <script type="text/javascript">

    $(document).ready(function(){
         // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.done-button').click(function(e) {
            var clickedDoneList = []
                $('input[type="checkbox"]:checked').each(function() {
                    clickedDoneList[clickedDoneList.length] = $(this).val();
                });
                $.ajax({
                    type: "POST",
                    url: '{% url "mark_products_as_done" %}',
                    data: {
                        products: clickedDoneList,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: location.reload(),
                });
        });
        $('.modal-trigger').click(function (event) {
            if ($(this).hasClass("delete")) {
                id = $(this).attr('value');
                title = $(this).attr('name');
                $('#deleteLink').attr('href', "opdracht/verwijderen/" + id);
                $('#confirmText').text("Weet u zeker dat u de opdracht " + title + " wilt verwijderen?");
                $('#modal1').openModal();
            } else if ($(this).hasClass("dialog-trigger")) {
                var page = "/opdracht/" + $(this).attr('value');
                $('.article-iframe').attr('src', page)
                $('#modal-article').openModal();
            } else {
                // factuurknop gedrukt
                if (document.querySelectorAll('input[type="checkbox"]:checked').length != 0) {
                    var clickedList = []
                    $('input[type="checkbox"]:checked').each(function() {
                        clickedList[clickedList.length] = $(this).val();
                    });

                    // bind callback to a href link
                    $('#factureren').click(function() {
                        if ($('#volgnummer').val() != undefined && $('#volgnummer').val() != "") {
                            follower_number = $('#volgnummer').val();
                            $('#modal-invoice').closeModal();
                            $.ajax({
                                type: "POST",
                                url: '{% url "generate_invoice" %}',
                                data: {
                                    articles: clickedList,
                                    volgnummer: follower_number,
                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                success: Materialize.toast('Factuur aangemaakt', 4000)
                            });
                        } else {
                            $('#volgnummer').attr("placeholder", "Vul een volgnummer in!");
                        }
                    });

                    $('#modal-invoice').openModal();
                } else {
                    $('#modal-error').openModal();
                }
            }
        });
  });

    function getId(id) {
        return $('.modal-trigger').attr("value")
    }
    </script>
{% endblock %}
