{% extends 'index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% block orders_active %}active{% endblock %}

{% block title %}
    Opdracht toevoegen/wijzigen
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Opdracht toevoegen/wijzigen" ""  %}
{% endblock %}

{% block content %}
    {% if edit %}
        <h1>Opdracht bewerken</h1>
    {% else %}
        <h1>Nieuwe opdracht toevoegen</h1>
    {% endif %}
    {% if error %}
    {% endif %}
    {% if toast %}
        <script type="text/javascript">
         // Materialize.toast(message, displayLength, className, completeCallback);
            Materialize.toast('{{ toast }}', 4000) // 4000 is the duration of the toast
         </script>
    {% endif %}
    {% if edit %}
        <form id="article_form" class="col s12" method="post" action="/opdracht/wijzigen/{{ articleid }}/">
    {% else %}
        <form id="article_form" class="col s12" method="post" action="/opdracht/toevoegen/">
    {% endif %}
        {% csrf_token %}

            <div class="row">
                <div class="input-field col s12">
                    {{ form.title }}
                    <label for="{{ form.title.id_for_label }}">Opdracht</label>
                    {{ error.title }}
                </div>
                <div class="input-field col s12">
                    {{ form.date_received }}
                    <label for="{{ form.date_received.id_for_label }}">Datum ontvangen</label>
                    {{ error.date_received }}
                </div>
                <div class="input-field col s12">
                    {{ form.date_deadline }}
                    <label for="{{ form.date_deadline.id_for_label }}">Deadline</label>
                    {{ error.date_deadline }}
                </div>
                <div class="input-field col s12">
                    {{ form.from_company }}
                    <label for="{{ form.from_company.id_for_label }}">Opdrachtgever</label>
                    {{ error.from_company }}
                </div>
                <a href="#" class="modal-trigger">Nieuwe opdrachtgever toevoegen</a>

                <div class="input-field col s12">
                    {{ form.identification_number }}
                    <label for="{{ form.identification_number.id_for_label }}">Identificatienummer</label>
                    {{ error.identification_number }}
                </div>
                <div class="input-field col s12">
                    {{ form.price_per_quantity }}
                    <label for="{{ form.price_per_quantity.id_for_label }}">Prijs per eenheid</label>
                    {{ error.price_per_quantity }}
                </div>
                <div class="input-field col s12">
                    {{ form.tax_rate }}
                    <label for="{{ form.tax_rate.id_for_label }}">BTW-tarief percentage (0 als geen BTW)</label>
                    {{ error.tax_rate }}
                </div>
                <div class="input-field col s12">
                    {{ form.quantity }}
                    <label for="{{ form.quantity.id_for_label }}">Kwantiteit</label>
                    {{ error.quantity }}
                </div>
                <div class="input-field col s12">
                    {{ form.briefing }}
                    <label for="{{ form.briefing.id_for_label }}">Briefing</label>
                    {{ error.briefing }}
                </div>
                <p style="margin-left:10px">
                    {{ form.done }}
                    <label for="{{ form.done.id_for_label }}">Klaar</label>
                </p>

        <button class="btn waves-effect waves-light" type="submit" name="submit">
            {% if edit %}
                Bewerken
            {% else %}
                Toevoegen
            {% endif %}
            <i class="material-icons left">send</i>
        </button>

        <a href="/">Annuleren</a>
    </form>
    </div>


 <div id="modal-client" class="modal" style="height:600px">
    <div class="modal-content" style="height:500px">
      <iframe class="client-iframe" style="border: 0px;" src="" width="100%" height="500px"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
  </div>
    <script type="text/javascript">
        $('.datepicker').pickadate({
        monthsFull: [ 'januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december' ],
		monthsShort: [ 'jan', 'feb', 'maa', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec' ],
		weekdaysFull: [ 'zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag' ],
		weekdaysShort: [ 'zo', 'ma', 'di', 'wo', 'do', 'vr', 'za' ],
		today: 'Vandaag',
		clear: 'Legen',
		close: 'Sluit',
		firstDay: 1,
		format: 'dd-mm-yyyy',
		formatSubmit: 'yyyy/mm/dd',
		selectMonths: true,
	    selectYears: 15
  });

    $(document).ready(function() {
        $('#id_from_company').material_select();

        $('.modal-trigger').click(function (event) {
            var page = "/client/add/inline/";
            $('.client-iframe').attr('src', page)
            $('#modal-client').openModal();
        });
    });
    window.closeModal = function(company_name, company_id){
        $('#modal-client').closeModal();
        $('#id_from_company').append($('<option/>', {
            value: company_id,
            text : company_name
        }));
        $(".dropdown-content").append('<li class="active"><span>' + company_name + '</span></li>');
        $('#id_from_company').material_select();
        $("select").closest('.input-field').children('span.caret').remove();


    };

    var dateTypeVar = $('#datepicker').datepicker('getDate');
    $.datepicker.formatDate('dd-mm-yy', dateTypeVar);
    </script>
{% endblock %}

