<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <h4>{{ article.title }}</h4>
    <table class="striped">
    <tr>
        <td>Datum ontvangen</td>
        <td><b>{{ article.date_received }}</b></td>
    </tr>
    <tr>
        <td>Deadline</td>
        <td><b>{{ article.date_deadline }}</b></td>
    </tr>
    <tr>
        <td>Kwantiteit</td>
        <td><b>{{ article.quantity }}</b></td>
    </tr>
    <tr>
        <td>Prijs per eenheid</td>
        <td><b>{{ article.price_per_quantity }}</b></td>
    </tr>
    <tr>
        <td>BTW</td>
        <td><b>{{ article.tax_rate }} procent</b></td>
    </tr>
    <tr>
        <td>Opdrachtgever</td>
        <td><b>{{ article.from_company }}</b></td>
    </tr>
    <tr>
        <td>Gefactureerd</td>
        <td>{% if article.invoice %} <a href="{{ article.invoice.file_path }}">Openen</a> {% else %} Nee {% endif %}</td>
    </tr>
    <tr>
        <td>Briefing</td>
        <td><b>{{ article.briefing }}</b></td>
    </tr>
    </table>