{% extends 'base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block agreements_active %}active{% endblock %}

{% block title %}
     Overeenkomsten
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ super.block }}
    {% breadcrumb "Overeenkomsten" "agreement_index" %}
{% endblock %}

{% block content %}
    <h1>Overeenkomsten beheren</h1>
    <a href="{% url "add_agreement_text" %}">Nieuwe modelovereenkomst toevoegen</a> |
    <a href="{% url "index_model_agreements" %}">Modelovereenkomsten beheren</a>
            {% csrf_token %}
                <table  class="striped responsive-table">
                    <thead>
                        <th data-field="id">Datum</th>
                        <th data-field="word_count">Opdrachten</th>
                        <th data-field="magazine">Datum</th>
                        <th data-field="ondertekend">Ondertekend</th>
                        <th data-field="paid"></th>
                    </thead>

                    <tbody>

                    {% for agreement in agreements %}
                        <tr>
                            <td><a href="{% url "view_agreement" agreement.url %}">{{ agreement.created }}</a></td>
                            <td>{% for article in agreement.article_concerned.all %}{{ article.title }} {% endfor %}</td>
                            <td>{{ agreement.article_concerned.first.date_deadline }}</td>
                            <td>{% if not agreement.signed_by_client_at == None %} Ja {% else %} Nee {% endif %}</td>
                            <td>
                                <!--<a href="/article/edit/{{ article.id }}"><i class="small mdi-editor-mode-edit"></i></a>-->
                                <a href="#modal1" class="modal-trigger delete" value="{{ agreement.id }}" name="{{ agreement.title }}"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </form>

             <a class="btn-floating btn-large waves-effect waves-light red right"  href="/overeenkomsten/nieuw/"><i class="material-icons">add</i></a>

            {% if toast %}
                <script type="text/javascript">
                    Materialize.toast('{{ toast }}', 4000)
                </script>
            {% endif %}


<div id="modal-invoice" class="modal">
   <div class="modal-content">
      <h4>Modelovereenkomst aanmaken</h4>
      <p id="confirmText">Geef het gewenste volgnummer op:
          <input type="number" id="volgnummer" placeholder="Volgnummer" min="1">
      </p>

    </div>
    <div class="modal-footer">
      <a href="#" class=" modal-action waves-effect waves-green btn-flat" id="factureren">Aanmaken</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
  </div>

<div id="dialog" title="Artikel"></div>

     <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Artikel verwijderen</h4>
      <p id="confirmText">Weet je zeker dat je deze overeenkomst wilt verwijderen?</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="deleteLink" class=" modal-action modal-close waves-effect waves-green btn-flat">Verwijderen</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
  </div>


 <div id="modal-article" class="modal" style="height:600px">
    <div class="modal-content" style="height:500px">
      <iframe class="article-iframe" style="border: 0px;" src="" width="100%" height="500px"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
  </div>

    <script type="text/javascript">

    $(document).ready(function(){
         // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').click(function (event) {
            if ($(this).hasClass("delete")) {
                id = $(this).attr('value');
                title = $(this).attr('name');
                $('#deleteLink').attr('href', "/overeenkomsten/verwijderen/" + id);
                $('#confirmText').text("Weet je zeker dat je deze overeenkomst wilt verwijderen?");
                $('#modal1').openModal();
            }
        });
  });

    function getId(id) {
        return $('.modal-trigger').attr("value")
    }
    </script>
{% endblock %}
