{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    FactuurMaker: Modelovereenkomsten
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h1>Modelovereenkomsten</h1>
            {% csrf_token %}
                <table  class="striped">
                    <thead>
                        <th data-field="id">Titel</th>
                        <th data-field="edit"></th>
                    </thead>

                    <tbody>

                    {% for model in model_agreements %}
                        <tr>
                            <td>{{ model.title }}</td>
                            <td>
                                <a href="/overeenkomsten/modelovereenkomsten-bewerken/{{ model.id }}"><i class="small mdi-editor-mode-edit"></i></a>
                                <a href="#modal1" class="modal-trigger delete" value="{{ model.id }}" name="{{ model.title }}"><i class="small mdi-action-delete"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </form>

             <a class="btn-floating btn-large waves-effect waves-light red right"  href="/overeenkomsten/nieuwe-modelovereenkomst/"><i class="mdi-content-add"></i></a>

            {% if toast %}
                <script type="text/javascript">
                    Materialize.toast('{{ toast }}', 4000)
                </script>
            {% endif %}


<div id="modal-invoice" class="modal">
   <div class="modal-content">
      <h4>Modelovereenkomst aanmaken</h4>
      <p id="confirmText">Geef het gewenste volgnummer op:
          <input type="number" id="volgnummer" placeholder="Volgnummer" min="1">
      </p>

    </div>
    <div class="modal-footer">
      <a href="#" class=" modal-action waves-effect waves-green btn-flat" id="factureren">Aanmaken</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
  </div>

<div id="dialog" title="Artikel"></div>

     <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Artikel verwijderen</h4>
      <p id="confirmText">Weet je zeker dat je deze overeenkomst wilt verwijderen?</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="deleteLink" class=" modal-action modal-close waves-effect waves-green btn-flat">Verwijderen</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
  </div>


 <div id="modal-article" class="modal" style="height:600px">
    <div class="modal-content" style="height:500px">
      <iframe class="article-iframe" style="border: 0px;" src="" width="100%" height="500px"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
  </div>

    <script type="text/javascript">

    $(document).ready(function(){
         // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').click(function (event) {
            if ($(this).hasClass("delete")) {
                id = $(this).attr('value');
                title = $(this).attr('name');
                $('#deleteLink').attr('href', "/overeenkomsten/verwijderen/" + id);
                $('#confirmText').text("Weet je zeker dat je deze overeenkomst wilt verwijderen?");
                $('#modal1').openModal();
            }
        });
  });

    function getId(id) {
        return $('.modal-trigger').attr("value")
    }
    </script>
{% endblock %}
