{% extends 'agreements.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block agreements_active %}active{% endblock %}

{% block title %}
    Overeenkomst ondertekenen
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Overeenkomst ondertekenen" "" %}
{% endblock %}

{% block content %}

    <h3>Overeenkomst van {{ agreement.created|date:"d-m-Y" }} met {{ agreement.client_name }}</h3>

    Opdrachten in overeenkomst:
    <ul class="collection">
        {% for article in agreement.article_concerned.all %}
            <li class="collection-item">{{ article.title }}, kwantiteit: {{ article.quantity }},
                deadline: {{ article.date_deadline }}, prijs per eenheid: {{ article.price_per_quantity }}</li>
        {% endfor %}
    </ul>

    Contactpersoon: {{ agreement.client_name }}

    <h4>Overeenkomst</h4>
    <style>
        .small {
            height: 300px;
            overflow: hidden;
        }

        .big {
            height: auto;
        }
    </style>

    <div id="agreement" class="wrapper">
        <a href="#">Uitklappen</a>
        <div class="small">
            {{ agreement.agreement_text_copy | linebreaks }}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.wrapper').find('a[href="#"]').on('click', function (e) {
                e.preventDefault();
                this.expand = !this.expand;
                $(this).text(this.expand ? "Inklappen" : "Uitklappen");
                $(this).closest('.wrapper').find('.small, .big').toggleClass('small big');
            });
        });
    </script>

    <div style="clear:both;"><br/></div>
    {% if error %}
        <div class="card-panel red">
            <span>{{ error }}</span>
        </div>
    {% endif %}

    {% if not agreement.signed_by_contractor and user.is_authenticated %}
        <h4>Stap 1. Ondertekenen</h4>
        <div class="card-panel red" id="error-contractor" style="display:none;">
            <span class="error-contractor white-text"></span>
        </div>

        Ondertekent u eerst zelf de overeenkomst
        <div class="input-field col s12">
            <input type="text" name="signee_name" class="signee_name"/>
            <label>Uw naam</label>
        </div>

        <label>Uw handtekening</label><br/>
        <canvas id="paint" width="300%" height="200%" style="border: 5px solid #000000;">Uw browser ondersteunt geen
            digitale handtekening. Probeer het op een ander apparaat.
        </canvas>

        <script src="/static/js/paint.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.save').click(function () {
                    var canvas = document.getElementById("paint");
                    var filename = 'signature';
                    var image = canvas.toDataURL();
                    if (window.signatureDrawn) {
                        $.post(
                                "/overeenkomsten/ondertekenen/contractor/{{ agreement.url }}/",
                                {
                                    signee_name: $('.signee_name').val(),
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    signature: image
                                },
                                function (data) {
                                    if (data.success) {
                                        location.reload();
                                    } else {
                                        $('.error-contractor').text(data.error);
                                        $('#error-contractor').show();
                                    }
                                }
                        );
                    } else {
                        $('.error-contractor').text("Voer een handtekening in");
                        $('#error-contractor').show();
                    }

                });

            })
        </script>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary save">Ondertekenen</button>
                <button class="btn btn-default" id="sig-clearBtn">Opnieuw</button>
            </div>
        </div>
    {% elif agreement.signed_by_contractor and user.is_authenticated and not agreement.signed_by_client %}
        <h4>Stap 2. Opdrachtgever ondertekenen</h4>
        U hebt de overeenkomst op {{ agreement.signed_by_contractor_at }} ondertekend. De opdrachtgever heeft de
        overeenkomst nog niet ondertekend. <br/>
        Kopieer de volgende link en stuur deze naar uw opdrachtgever, zodat deze de overeenkomst ook digitaal kan
        ondertekenen: <a href="{{ agreement.complete_url }}/">{{ agreement.complete_url }}</a>
    {% elif not agreement.signed_by_client and not user.is_authenticated %}

        <h4>Ondertekenen</h4>
        <div class="card-panel red" id="error-client" style="display:none;">
            <span class="error-client"></span>
        </div>
        <div class="input-field col s12">
            <input type="text" name="signee_name" class="signee_name" required />
            <label>Uw naam</label>
        </div>
        <label>Uw handtekening</label><br/>
        <canvas id="paint" width="300%" height="200%" style="border: 5px solid #000000;">Uw browser ondersteunt geen
            digitale handtekening. Probeer het op een ander apparaat.
        </canvas>

        <script src="/static/js/paint.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.save').click(function () {
                    var canvas = document.getElementById("paint");
                    var filename = 'signature';
                    var image = canvas.toDataURL();

                    if (window.signatureDrawn) {
                        $.post(
                                "/overeenkomsten/ondertekenen/client/{{ agreement.url }}/",
                                {
                                    signee_name: $('.signee_name').val(),
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    signature: image
                                },
                                function (data) {
                                    if (data.success) {
                                        location.reload();
                                    } else {
                                        $('.error-client').text(data.error);
                                        $('#error-client').show();
                                    }
                                }
                        );
                    } else {
                        $('.error-client').text("Voer een handtekening in");
                        $('#error-client').show();
                    }

                });
            })
        </script>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary save">Ondertekenen</button>
                <button class="btn btn-default" id="sig-clearBtn">Opnieuw</button>
            </div>
        </div>
    {% else %}
        <h4>Ondertekenen</h4>
        Deze overeenkomst is ondertekend door {{ agreement.client_name }} op {{ agreement.signed_by_client_at }}
        en door {{ agreement.full_name }} op {{ agreement.signed_by_contractor_at }}.

        <table>
            <tr>
                <td>{{ agreement.client_name }}</td>
                <td><img src="/files/{{ agreement.signature_file_client }}"/></td>
            </tr>

            <tr>
                <td>{{ agreement.full_name }}</td>
                <td><img src="/files/{{ agreement.signature_file_contractor }}"/></td>
            </tr>
        </table>
    {% endif %}

{% endblock %}