{% extends 'agreements.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block agreements_active %}active{% endblock %}

{% block title %}
    FactuurMaker
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        {% breadcrumb "Overeenkomst ondertekenen" "" %}
{% endblock %}

{% block content %}

<h3>Overeenkomst van {{ agreement.created|date:"d-m-Y" }} met {{ agreement.client_name }}</h3>

Opdrachten in overeenkomst:
<ul  class="collection">
{% for article in agreement.article_concerned.all %}
    <li  class="collection-item">{{ article.title }}, kwantiteit: {{ article.quantity }}, deadline: {{ article.date_deadline }}, prijs per eenheid: {{ article.price_per_quantity }}</li>
{% endfor %}
</ul>

Contactpersoon: {{ agreement.client_name }}

<h4>Overeenkomst</h4>
<style>
.small  {height:300px;overflow:hidden;}
.big    {height: auto;}
</style>

<div id="agreement" class="wrapper">
    <a href="#">Uitklappen</a>
    <div class="small">
    {{ agreement.agreement_text_copy | linebreaks }}
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
       $('.wrapper').find('a[href="#"]').on('click', function (e) {
            e.preventDefault();
            this.expand = !this.expand;
            $(this).text(this.expand?"Inklappen":"Uitklappen");
            $(this).closest('.wrapper').find('.small, .big').toggleClass('small big');
        });
    });
</script>

    <div style="clear:both;"><br /></div>

    <h4>Ondertekenen</h4>

    {%  if error %}
        <div class="card-panel red">
            <span>{{ error }}</span>
        </div>
    {% endif %}
{% if not agreement.signed_by_client %}
Indien akkoord, voer hieronder uw e-mailadres in en letterlijk de tekst 'Ik ga akkoord'  zonder aanhalingstekens.

<form action="/agreements/view-sign-agreement/{{ agreement.url }}" method="post">
    {% csrf_token %}
    <input type="text" name="emailaddress" placeholder="Uw e-mailadres" required />
    <input type="text" name="agreed" placeholder="Akkoordfrase" required />
    <input type="submit" name="submit" value="Overeenkomst ondertekenen" class="btn waves-effect waves-light" /><i class="material-icons right"></i>
</form>

{% else %}
    Deze overeenkomst is ondertekend door {{ agreement.client_emailaddress }} op tijdstip {{ agreement.signed_by_client_at }} en door
    de opdrachtnemer op {{ agreement.created }}.
{% endif %}

{% endblock %}