{% extends 'agreements.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block agreements_active %}active{% endblock %}

{% block title %}
    Overeenkomst ondertekenen
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        {% breadcrumb "Overeenkomst ondertekenen" "" %}
{% endblock %}

{% block content %}

<h3>Overeenkomst van {{ agreement.created|date:"d-m-Y" }} met {{ agreement.client_name }}</h3>

Opdrachten in overeenkomst:
<ul  class="collection">
{% for article in agreement.article_concerned.all %}
    <li  class="collection-item">{{ article.title }}, kwantiteit: {{ article.quantity }}, deadline: {{ article.date_deadline }}, prijs per eenheid: {{ article.price_per_quantity }}</li>
{% endfor %}
</ul>

Contactpersoon: {{ agreement.client_name }}

<h4>Overeenkomst</h4>
<style>
.small  {height:300px;overflow:hidden;}
.big    {height: auto;}
</style>

<div id="agreement" class="wrapper">
    <a href="#">Uitklappen</a>
    <div class="small">
    {{ agreement.agreement_text_copy | linebreaks }}
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
       $('.wrapper').find('a[href="#"]').on('click', function (e) {
            e.preventDefault();
            this.expand = !this.expand;
            $(this).text(this.expand?"Inklappen":"Uitklappen");
            $(this).closest('.wrapper').find('.small, .big').toggleClass('small big');
        });
    });
</script>

    <div style="clear:both;"><br /></div>

    <h4>Ondertekenen</h4>

    {%  if error %}
        <div class="card-panel red">
            <span>{{ error }}</span>
        </div>
    {% endif %}
{% if not agreement.signed_by_client %}

                <div class="input-field col s12">
                    <input type="text" name="signee_name" class="signee_name" />
                    <label>Uw naam</label>
                </div>
    <canvas id="paint"  width="300%" height="200%" style="border: 5px solid #000000;">Update your browser to support HTML5 Canvas</canvas>

        <script src="/static/js/paint.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.save').click(function() {
            var canvas = document.getElementById("paint");
            var filename = 'signature';
            var image = canvas.toDataURL();

            $.post(
                    "/overeenkomsten/ondertekenen/{{ agreement.url }}/",
                    { signee_name: $('.signee_name').text(), csrfmiddlewaretoken: '{{ csrf_token }}', signature: image },
                    function() {
                        location.reload();
                    }
            );

        });
    })
    </script>

		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary save">Ondertekenen</button>
				<button class="btn btn-default" id="sig-clearBtn">Opnieuw</button>
			</div>
		</div>
{% else %}
    Deze overeenkomst is ondertekend door {{ agreement.client_emailaddress }} op {{ agreement.signed_by_client_at }} en door
    de {{ agreement.client_name }} op {{ agreement.created }}.

    <img src="/img/{{ agreement.signature_file }}"/>
{% endif %}

{% endblock %}