.DS_Store
.idea
static/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
bower_components/
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
temp/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

InvoiceGen/site_settings.py
db.sqlite3

static/images
*.pdf
#latex
*.out
*.aux

.idea/workspace.xml

.idea/misc.xml

.idea/jsLibraryMappings.xml

.idea/FactuurMaker.iml

.idea/dataSources.xml

.idea/dataSources.ids
/bin
/obj/Debug
/web.config
/web.debug.config
/readme.mht
/.vs/InvoiceGen/v14

*.rdb

supervisord.pid
