<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>{{ site_name }} {% block title %}{% endblock %}</title>

    <!-- Compiled and minified JavaScript -->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</head>

<body>

<nav role="navigation" class="blue-grey">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">{{ site_name }}</a>
            {% if user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Opdrachten</a></li>
                <li><a href="/overeenkomsten">Overeenkomsten</a></li>
                <li><a href="/facturen">Facturen</a></li>
                <li><a href="/statistieken">Statistieken</a></li>
                <li><a href="/instellingen">Instellingen</a></li>
                <li><a href="/logout">Afmelden</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>


<div id="header">
    {% block header %} {% endblock %}
</div>

<main>
<div class="container">
        {% block content %}{% endblock %}
</div>

{% block content2 %}{% endblock %}
</main>

<footer class="page-footer orange darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">InvoiceGen</h5>
                <p class="grey-text text-lighten-4">Betaversie: build 20160603. Problemen gevonden? <a href="mailto:invoicenl@gmail.com" class="grey-text text-lighten-3">Meld het ons!</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/">InvoiceGen</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/status">Servicestatus</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/blog">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://invoicegen.nl/contact">Vragen of opmerkingen? Mail ons!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {% now "Y" %} Alle rechten voorbehouden
        </div>
    </div>
</footer>

</body>
</html>