{% autoescape off %}
Je ontvangt deze e-mail omdat je een nieuw wachtwoord wilt instellen voor je Invoicegen-omgeving.
Heb je deze aanvraag niet gedaan? Dan kan je dit e-mailbericht negeren

Je kunt de volgende pagina bezoeken om je wachtwoord opnieuw in te stellen:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Dank je voor het gebruik van Invoicegen!

Het team van Invoicegen.

{% endautoescape %}