{% extends "Orders/base.html" %}

{% block content %}
    {% if validlink %}
        <h4>Wachtwoord opnieuw instellen</h4>
        <p>Voer uw nieuwe wachtwoord twee keer in</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nieuw wachtwoord:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Bevestig wachtwoord:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-default" value="Mijn wachtwoord wijzigen" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h4>Wachtwoord wijzigen niet gelukt</h4>
        <p>De link waarmee u uw wachtwoord wilde wijzigen, is niet geldig.<br />
        Dat kan het geval zijn als u de link al een keer hebt gebruikt. <br />
        Probeer opnieuw uw wachtwoord in te stellen.</p>
    {% endif %}
{% endblock %}