{% autoescape off %}
Uw ontvangt dit e-mail omdat u een nieuw wachtwoord wilt instellen voor uw InvoiceGen.nl-omgeving.
Hebt u deze aanvraag niet gedaan? Dan kunt u dit e-mailbericht negeren

U kunt de volgende pagina bezoeken om uw wachtwoord opnieuw in te stellen:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Dank u voor het gebruik van InvoiceGen!

Het team van InvoiceGen.

{% endautoescape %}