{% extends "base.html" %}

{% block content %}
    <h4>Wachtwoord vergeten</h4>
<p>Voer uw e-mailadres in om instructies te ontvangen waarmee u uw wachtwoordo opnieuw kunt instellen.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mailadres:</label> {{ form.email }} <input type="submit" class="btn btn-default"  value="Wachtwoord herstellen" /></p>
</form>
{% endblock %}