{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    FactuurMaker
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
        <h1>Magazine-uitgaves toevoegen</h1>
    {% if error %}
        {{ error }}
    {% endif %}
    {% if toast %}
        <script type="text/javascript">
            Materialize.toast('{{ toast }}', 4000) // 4000 is the duration of the toast
         </script>
    {% endif %}
        <form id="article_form" class="col s12" method="post" action="/magazines/edition/add/{{ magazine_id }}">
        {% csrf_token %}

            {{ magazine_uitgave_form }}


        <button class="btn waves-effect waves-light" type="submit" name="submit">
                Toevoegen
            <i class="mdi-content-send left"></i>
        </button>
        </form>
        <br /><br />
        <a href="/">Annuleren</a>
    </div>
{% endblock %}
