{% extends 'Orders/order_base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% block orders_active %}active{% endblock %}

{% block title %}
    Opdrachtgevers
{% endblock %}

{% block header %}
{% endblock %}

{% block companies_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Opdrachtgevers beheren" "company_index" %}
{% endblock %}

{% block content %}
    <h4>Opdrachtgevers</h4>
    <div class="row">
        {% render_table company_table "../templates/table_materialize.html" %}
    </div>

    {% if toast %}
        <script type="text/javascript">
            Materialize.toast('{{ toast }}', 4000)
        </script>
    {% endif %}

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" href="{% url "company_add" %}">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Opdrachtgever verwijderen</h4>
            <p id="confirmText">Weet u zeker dat u deze opdrachtgever wilt verwijderen?</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="deleteLink"
               class=" modal-action modal-close waves-effect waves-green btn-flat">Verwijderen</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
        </div>
    </div>

    <div id="modal-article" class="modal" style="height:600px">
        <div class="modal-content" style="height:500px">
            <iframe class="article-iframe" style="border: 0px;" src="" width="100%" height="500px"></iframe>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.modal').modal();
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').click(function (event) {
                if ($(this).hasClass("delete")) {
                    id = $(this).attr('value');
                    title = $(this).attr('name');
                    $('#deleteLink').attr('href', "/opdrachtgevers/verwijderen/" + id);
                    $('#confirmText').text("Weet u zeker dat u de opdrachtgever " + title + " wilt verwijderen?");
                    $('#modal1').modal('open');
                }
                else if ($(this).hasClass("dialog-trigger")) {
                    var page = "/opdracht/" + $(this).attr('value');
                    $('.article-iframe').attr('src', page)
                    $('#modal-article').modal('open');
                }
            });
        });

        function getId(id) {
            return $('.modal-trigger').attr("value")
        }
    </script>
{% endblock %}
