{% extends 'Companies/index_companies.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block orders_active %}active{% endblock %}

{% block title %}
    Opdrachtgever toevoegen/bewerken
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Opdrachtgever toevoegen/bewerken" "" %}
{% endblock %}


{% block content %}
    {% if edit %}
        <h4>Opdrachtgever bewerken</h4>
    {% else %}
        <h4>Nieuwe opdrachtgever toevoegen</h4>
    {% endif %}
    {% if error %}
    {% endif %}
    {% if edit %}
        <form id="company_form" class="col s12" method="post" action="{% url "company_edit" company_id %}">
    {% else %}
        <form id="company_form" class="col s12" method="post" action="{% url "company_add" %}">
    {% endif %}
        {% csrf_token %}

            <div class="row">
                <div class="input-field col s12">
                    {{ form.company_name }}
                    <label for="{{ form.company_name.id_for_label }}">Naam opdrachtgever</label>
                    {{ error.company_name }}
                </div>
                <div class="input-field col s12">
                    {{ form.company_address }}
                    <label for="{{ form.company_address.id_for_label }}">Adres opdrachtgever</label>
                    {{ error.company_address }}
                </div>
                <div class="input-field col s12">
                    {{ form.company_city_and_zipcode }}
                    <label for="{{ form.company_city_and_zipcode.id_for_label }}">Plaats en postcode opdrachtgever</label>
                    {{ error.company_city_and_zipcode }}
                </div>
                <div class="input-field col s12">
                    {{ form.company_email }}
                    <label for="{{ form.company_email.id_for_label }}">E-mailadres opdrachtgever (optioneel)</label>
                    {{ error.company_email }}
                </div>
                <div class="input-field col s12">
                    {{ form.company_default_price_per_quantity }}
                    <label for="{{ form.company_default_price_per_quantity.id_for_label }}">Standaardtarief per eenheid (optioneel)</label>
                    {{ error.company_default_price_per_quantity }}
                </div>
            </div>

        <button class="btn waves-effect waves-light" type="submit" name="submit">
            {% if edit %}
                Bewerken
            {% else %}
                Toevoegen
            {% endif %}
            <i class="material-icons left">send</i>
        </button>

        <a href="javascript: history.go(-1)" class="waves-effect waves-teal btn-flat">Annuleren</a>
    </form>
    </div>


 <div id="modal-client" class="modal" style="height:600px">
    <div class="modal-content" style="height:500px">
      <iframe class="client-iframe" style="border: 0px;" src="" width="100%" height="500px"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
  </div>
    <script type="text/javascript">
        $('.datepicker').pickadate({
        monthsFull: [ 'januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december' ],
		monthsShort: [ 'jan', 'feb', 'maa', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec' ],
		weekdaysFull: [ 'zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag' ],
		weekdaysShort: [ 'zo', 'ma', 'di', 'wo', 'do', 'vr', 'za' ],
		today: 'Vandaag',
		clear: 'Legen',
		close: 'Sluit',
		firstDay: 1,
		format: 'dd-mm-yyyy',
		formatSubmit: 'yyyy/mm/dd',
		selectMonths: true,
	    selectYears: 15
  });

    var dateTypeVar = $('#datepicker').datepicker('getDate');
    $.datepicker.formatDate('dd-mm-yy', dateTypeVar);
    </script>
{% endblock %}
