  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .breadcrumb::before {
      color: gray !important;
  }

  .no-box-shadow {
      box-shadow: none !important;
  }