{% extends 'base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block more_active %}active{% endblock %}

{% block title %}
    Instellingen
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Instellingen" "settings" %}
{% endblock %}

{% block content %}
    <h1>Instellingen wijzigen</h1>
    {% if error %}
        <h4>{{ error }}</h4>
    {% endif %}
    <form id="login_form" method="post" action="/instellingen/">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {{ form.name }}
                <label for="{{ form.name.id_for_label }}">Naam</label>
                {{ error.title }}
            </div>


            <div class="input-field col s12">
                {{ form.address }}
                <label for="{{ form.address.id_for_label }}">Adres</label>
                {{ error.title }}
            </div>


            <div class="input-field col s12">
                {{ form.city_and_zipcode }}
                <label for="{{ form.city_and_zipcode.id_for_label }}">Plaats en postcode</label>
                {{ error.title }}
            </div>


            <div class="input-field col s12">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">E-mailadres</label>
                {{ error.title }}
            </div>


            <div class="input-field col s12">
                {{ form.iban }}
                <label for="{{ form.iban.id_for_label }}">IBAN</label>
                {{ error.title }}
            </div>

            <div class="input-field col s12">
                {{ form.site_name }}
                <label for="{{ form.site_name.id_for_label }}">Websitenaam</label>
                {{ error.site_name }}
            </div>

        <button class="btn waves-effect waves-light" type="submit" name="submit">Opslaan
            <i class="material-icons left">send</i>
        </button>
    </form>

    <form method="post" action="/instellingen/kleuren/">
        {% csrf_token %}
        <div class="row">

            <div class="input-field col s12">
                <label for="{{ color_form.color_up.id_for_label }}">Kleur boven</label>
                <br />
                <br />
                Huidige kleur: {{ color_up }}
                <br />
                <br />
                {{ color_form.color_up }}
                {{ error.color_up }}
            </div>


            <div class="input-field col s12">
                <label for="{{ color_form.color_down.id_for_label }}">Kleur onder</label>
                <br />
                <br />
                Huidige kleur: {{ color_down }}
                <br />
                <br />
                {{ color_form.color_down }}
                {{ error.color_down }}
            </div>
            <br />
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="submit">Kleuren aanpassen
            <i class="material-icons left">send</i>
        </button>
        <br />
        <br />
            <a href="/instellingen/reset-kleuren">Standaardkleuren herstellen</a>
    </form>
    {% if toast %}
        <script type="text/javascript">
            Materialize.toast('{{ toast }}', 4000)
        </script>
    {% endif %}
{% endblock %}
