{% extends 'invoice_table.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block invoices_active %}active{% endblock %}

{% block title %}
    Factuur inzien
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Factuur inzien" "" %}
{% endblock %}

{% block content %}

<div class="container">
{% autoescape off %}
   {{ html }}
{% endautoescape %}

<br /><br />
<a href="/download/md/{{ invoice_id }}" class="btn waves-effect waves-light">Download Markdown</a>
<a href="/download/pdf/{{ invoice_id }}" class="btn waves-effect waves-light">Download PDF</a>
</div>

{% endblock %}
