{% extends 'outgoing_invoice_table.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block invoices_active %}active{% endblock %}

{% block title %}
    Factuur inzien
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Factuur inzien" "" %}
{% endblock %}

{% block content %}

<div class="container">


<br /><br />
<a href="{% url "download_markdown" invoice_id %}" class="btn waves-effect waves-light">Download Markdown</a>
<a href="{% url "download_pdf" invoice_id %}" class="btn waves-effect waves-light">Download PDF</a>
<a href="{% url "download_docx" invoice_id %}" class="btn waves-effect waves-light">Download DOCX</a>
</div>

{% endblock %}
