{% extends "settings/settings.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Algemene instellingen
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Algemene instellingen" "general_settings" %}
{% endblock %}

{% block general_settings %}active{% endblock %}

{% block settings %}
    <h4>Algemene instellingen</h4>
    <div class="row">
        <form class="col s12" method="post" action="{% url 'general_settings' %}">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="api_key" placeholder="https://je-eigen-website.nl"
                           type="text" class="validate" name="site_url" value="{{ site_url }}">
                    <label for="api_key">Website-URL</label>
                </div>

                <div class="input-field col s12">
                    <input id="site_name" name="site_name" type="text" value="{{ site_name }}"/>
                    <label for="site_name">Websitenaam</label>
                </div>

                <legend>Bedrijfskleuren</legend>
                <div class="input-field col s12">
                    <label for="background-color-up">Selecteer een kleur voor boven:</label><br><br>
                    <input id="background-color-up" name="color_up" type="color" value="{{ color_up }}"/>
                </div>

                <div class="input-field col s12">
                    <label for="background-color-down">Selecteer een kleur voor onder:</label><br><br>
                    <input id="background-color-down" name="color_down" type="color" value="{{ color_down }}"/>

                    <br><br><br>
                </div>

                <h5>bunq</h5>

                <div class="input-field col s12">
                    <input placeholder="Ga in bunq naar Profiel / Beveiliging / API Keys / Maak key aan" id="api_key"
                           type="text" class="validate" name="bunq_api_key" value="{{ bunq_api_key }}">
                    <label for="api_key">API-key</label>
                </div>
                <div class="input-field col s12">
                    <select name="defaultbunq">
                        <option value="" disabled selected>Kies een rekening</option>
                        {% for account in bunq_accounts %}
                            <option value="{{ account.id }}"
                                    {% if default_bunq_account == account.id %}selected{% endif %}>{{ account.name }}
                                / {{ account.value }}</option>
                        {% endfor %}
                    </select>
                    <label>Op welke rekening wil je de requests ontvangen?</label>
                </div>


                <h5>Mollie</h5>

                <div class="input-field col s12">
                    <input id="api_key"
                           type="text" class="validate" name="mollie_api_key" value="{{ mollie_api_key }}">
                    <label for="api_key">Mollie API-key</label>
                </div>

                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Opslaan
                        <i class="material-icons left">send</i>
                    </button>
                </div>

            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}