{% extends "base.html" %}

{% block content %}
<div id="todo" class="col s12 settings-tab" style="display:none;">
            <h4>Wunderlist-integratie</h4>
            {% if todo != None %}
                <table>
                    <tr>
                        <td>Auth:</td>
                        <td>{% if todo.auth_token != None %}Geautoriseerd{% else %}Nu inschakelen{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Gemaakt op:</td>
                        <td> {{ todo.created }}</td>
                    </tr>
                    <tr>
                        <td>Voor gebruiker:</td>
                        <td> {{ todo.user_id.username }}</td>
                    </tr>
                    <tr>
                        <td>Lijst:</td>
                        <td>
                            <form method="post" action="/wunderlist-instellingen/">
                                {% csrf_token %}
                                <select name="existing_list">
                                    {% for list in lists %}
                                        <option value="{{ list.id }}"
                                                {% if list.id == current_list %}selected{% endif %}>{{ list.title }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text"
                                       placeholder="...Of maak een nieuwe lijst aan voor opdrachten FactuurMaker"
                                       name="new_list"/></a>
                                <p>
                                    <input type="checkbox" id="auto_add_to_wunderlist" name="auto_add_to_wunderlist"
                                           {% if wunderlist_enabled %}checked{% endif %}/>
                                    <label for="auto_add_to_wunderlist">Automatisch nieuwe opdrachten aan Wunderlist
                                        toevoegen</label>
                                </p>
                                <input type="submit" value="Opslaan" class="btn btn-default"/>
                            </form>
                        </td>
                    </tr>
                </table>
            {% else %}
                <a href="{{ wunderlist_dict.url }}">Klik hier om Wunderlist te koppelen</a>
            {% endif %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('select').material_select();
                });
            </script>
        </div>
{% endblock %}