{% extends "settings/settings.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Factuursjablonen
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Factuursjablonen" "personal_settings" %}
{% endblock %}

{% block invoicetemplate_settings %}active{% endblock %}

{% block settings %}
<h4>Factuursjablonen</h4>
<h5>pdf</h5>
<div class="row">
    {% for template in templates.pdf %}
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="/files/{{ template.preview_image }}">
                    <span class="card-title">{{ template }}</span>
                </div>
                <div class="card-action">
                    {% if template.id == default_pdf %}
                        Standaardtemplate
                    {% else %}
                        <a href="#" data-id="{{ template.id }}" data-type="pdf" class="template">Als standaard instellen</a>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<h5>docx</h5>
<div class="row">
    {% for template in templates.docx %}
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="/files/{{ template.preview_image }}">
                    <span class="card-title">{{ template }}</span>
                </div>
                <div class="card-action">
                    {% if template.id == default_docx %}
                        Standaardtemplate
                    {% else %}
                        <a href="#" data-id="{{ template.id }}" data-type="docx" class="template">Als standaard instellen</a>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.template').click(function (e) {
            e.preventDefault();
            invoiceId = $(this).attr('data-id');
            invoiceType = $(this).attr('data-type');

            $.ajax({
                type: "POST",
                url: '{% url "invoicetemplate_settings" %}',
                data: {
                    type: invoiceType,
                    template_id: invoiceId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: window.location.reload(true),

            })
        });
    });
</script>
{% endblock %}