{% extends 'base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block more_active %}active{% endblock %}

{% block title %}
    Instellingen
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Instellingen" "settings" %}
{% endblock %}

{% block side_menu %}
    <a href="{% url 'settings' %}" class="collection-item {% block personal_settings %}{% endblock %}">Persoonlijke gegevens</a>
    <a href="{% url 'general_settings' %}" class="collection-item {% block general_settings %}{% endblock %}">Algemene instellingen</a>
    <a href="{% url 'invoicetemplate_settings' %}" class="collection-item {% block invoicetemplate_settings %}{% endblock %}">Factuursjablonen</a>
    <a href="{% url 'user_settings' %}" class="collection-item {% block user_settings %}{% endblock %}">Gebruikers</a>
{% endblock %}

{% block content %}

    <div class="row">
        {% block settings %}{% endblock %}
    </div>

{% endblock %}
