{% extends 'base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block more_active %}active{% endblock %}

{% block title %}
    Instellingen
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Instellingen" "settings" %}
{% endblock %}

{% block side_menu %}
    <a href="#data" class="collection-item" id="data-link">Persoonlijke gegevens</a>
    <a href="#users" class="collection-item">Gebruikers</a>
    <a href="#todo" class="collection-item">Integratie</a>
    <a href="#subscription" class="collection-item">InvoiceGen-abonnement</a>
{% endblock %}

{% block content %}

    <div class="row"></div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#data').show();
                $('data-link').addClass('active');

                $('.collection-item').click(function (e) {
                    $('.settings-tab').hide();
                    var divClicked = $(this).attr('href');
                    $('.collection-item').removeClass('active');
                    $(this).addClass('active');
                    $(divClicked).show();
                });
            });
        </script>

{% endblock %}
