{% extends 'invoices/outgoing_invoice_table.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block invoices_active %}active{% endblock %}

{% block title %}
    Factuur toevoegen/bewerken
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Factuur toevoegen/bewerken" "" %}
{% endblock %}

{% block content %}
    {% if edit %}
        <h4>Uitgaande factuur bewerken</h4>
    {% else %}
        <h4>Uitgaande factuur toevoegen</h4>
    {% endif %}
        {%  if edit %}
            <form id="invoice_form" class="col s12" method="post" action="{% url "edit_outgoing_invoice" invoice_id %}" enctype="multipart/form-data">
        {% else %}
            <form id="invoice_form" class="col s12" method="post" action="{% url "add_outgoing_invoice" %}">
        {% endif %}
        {% csrf_token %}

            <p class="row">
                <div class="input-field col s12">
                    {{ form.title }}
                    <label for="{{ form.title.id_for_label }}">Omschrijving</label>
                    {{ form.errors.title }}
                </div>
                <div class="input-field col s12">
                    {{ form.products }}
                    <label for="{{ form.products.id_for_label }}">Opdrachten</label>
                    {{ form.errors.products }}
                </div>
                <div class="input-field col s12">
                    {{ form.invoice_number }}
                    <label for="{{ form.invoice_number.id_for_label }}">Volgnummer</label>
                    {{ form.errors.invoice_number }}
                </div>
                <div class="input-field col s12">
                    {{ form.expiration_date }}
                    <label for="{{ form.expiration_date.id_for_label }}">Vervaldatum</label>
                    {{ form.errors.expiration_date }}
                </div>
                <p style="margin-left:10px">
                    {{ form.paid }}
                    <label for="{{ form.paid.id_for_label }}">Betaald</label>
                    {{ form.errors.paid }}
                </p>

            <button class="btn waves-effect waves-light" type="submit" name="submit">Opslaan
                <i class="material-icons left">send</i>
            </button>
        </form>

    <script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });

        $('.datepicker').pickadate({
            monthsFull: [ 'januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december' ],
            monthsShort: [ 'jan', 'feb', 'maa', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec' ],
            weekdaysFull: [ 'zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag' ],
            weekdaysShort: [ 'zo', 'ma', 'di', 'wo', 'do', 'vr', 'za' ],
            today: 'Vandaag',
            clear: 'Legen',
            close: 'Sluit',
            firstDay: 1,
            format: 'dd-mm-yyyy',
            formatSubmit: 'yyyy/mm/dd',
            selectMonths: true,
            selectYears: 15
        });
        var dateTypeVar = $('#datepicker').datepicker('getDate');
        $.datepicker.formatDate('dd-mm-yy', dateTypeVar);
    </script>
{% endblock %}
