{% extends 'Invoices/outgoing_invoice_table.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}
{% block invoices_active %}active{% endblock %}

{% block title %}
    Factuur inzien
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Factuur inzien" "" %}
{% endblock %}

{% block content %}

    <div class="row">
        <h4>{{ invoice.title }}</h4>
        <table class="responsive-table bordered">
            <tr>
                <td>
                    Datum aangemaakt
                </td>
                <td>
                    <b>{{ invoice.date_created }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Vervaldatum
                </td>
                <td>
                    <b>{{ invoice.expiration_date }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Betaald
                </td>
                <td>
                    <b>{% if invoice.paid %} Ja {% else %} Nee {% endif %}</b>
                </td>
            </tr>

            <tr>
                <td>
                    Aan bedrijf
                </td>
                <td>
                    <b>{{ invoice.to_company }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Totaalbedrag
                </td>
                <td>
                    <b>€{{ invoice.get_total_amount|floatformat:2 }}</b>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <h4>Opdrachten</h4>
        <table class="responsive-table highlight">
            <thead>
            <th>Opdracht</th>
            <th>Identificatienr.</th>
            <th>Kwantiteit</th>
            <th>Prijs per eenheid</th>
            <th>Prijs</th>
            </thead>
            {% for product in invoice.product_set.all %}
                <tr>
                    <td>
                        <a href="{% url "view_product" product.id product.title|slugify %}">{{ product.title }}</a>
                    </td>
                    <td>
                        {{ product.identification_number }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        €{{ product.price_per_quantity|floatformat:2 }}
                    </td>
                    <td>
                        €{{ product.get_price|floatformat:2 }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    <div class="row">
        <h4>Exporteren</h4>
        <div class="col s12">
            <div class="container left">
        <a href="{% url "download_invoice" "markdown" invoice.id %}" class="btn waves-effect waves-light btn-flat">Download Markdown</a></div></div>

        <div class="col s12">
            <div class="container left">
                <a href="#" id="pdf" class="btn waves-effect waves-light btn-flat">Download PDF</a>
            </div>
        </div>

        <div class="col s12">
            <div class="container left">
        <a href="{% url "download_invoice" "docx" invoice.id %}" class="btn waves-effect waves-light btn-flat">Download DOCX</a></div></div>

        <div class="col s12">
            <div class="container left" id="result-div">
            </div>
        </div>
    </div>


    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" href="{% url "edit_outgoing_invoice" invoice.id %}">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>

    <script>
    $(function() {
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + '/output/';
        var socket = new ReconnectingWebSocket(ws_path);

        socket.onmessage = function(message) {
            var data = JSON.parse(message.data);
            if (data.action == 'started') {
              $("#result-div").html("Bezig met maken van document... Een ogenblik geduld");
            }

            if (data.action == 'completed') {
              $("#result-div").html("Document gemaakt: ");
                var downloadLink = $("<a />", {
                    href : "/factuur/downloaden/pdf/{{ invoice.id }}/",
                    text : "nu downloaden",
                    class: "btn waves-effect waves-light btn-flat"
                }).appendTo("#result-div");
            }
        };

        $("#pdf").on("click", function(event) {
            var message = {
                action: "start_pdf",
                invoice_id: "{{ invoice.id }}",
            };
            socket.send(JSON.stringify(message));
            return false;
        });
    });

    </script>

{% endblock %}
