{% extends "base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}
{% block activity_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Activiteiten" "activitiy_index" %}
{% endblock %}


{% block side_menu %}
{% endblock %}

{% block content %}
    <div class="row">
        <h3>Activiteiten</h3>
        {% for order in orders %}
            <p class="flow-text"><a href="{{ order.get_absolute_url }}">{{ order.message }}</a></p>
        {% endfor %}
    </div>

{% endblock %}
