{% extends "Tenants/tenants_base.html" %}

{% block content %}
    <div class="container">
        <h2>InvoiceGen-blog</h2>
        <div class="row">
            {% for blog in blogs %}
                <div class="col s12 m12 l6">
                    <div class="card large">
                        <div class="card-image">
                            <img src="/static/images/{{ blog.image }}">
                            <span class="card-title">{{ blog.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ blog.contents|safe }}</p>
                        </div>
                        <div class="card-action">
                            <a href="/blog/{{ blog.id }}/{{ blog.slugify }}">Meer lezen...</a>
                            {{ blog.created }} door
                            <div class="chip">
                                {{ blog.author }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
