{% extends "Tenants/tenants_base.html" %}

{% block content %}
    <div class="container center-align"><h2>Alle functies op een rij</h2></div>
    <div class="row">
        <div class="col s12 m12 l6 right">
            <div class="valign-wrapper center-align" style="height:400px;">
                <div class="valign container">
                    <i class="material-icons" style="font-size:300px;">filter_drama</i>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container">
                    <h4>Online beveiligde omgeving</h4>
                    <p>Je krijgt je eigen subdomein, bijvoorbeeld
                        bedrijfsnaam.invoicegen.nl, en gehoste omgeving. Wij beheren je omgeving, onderhouden
                        deze en zorgen ervoor dat je altijd met de nieuwste versie van InvoiceGen werkt. We
                        blijven continu nieuwe functies toevoegen en verbeteren, op basis van jouw feedback.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row teal white-text">

        <div class="col s12 m12 l6">
            <div class="valign-wrapper center-align" style="height:500px;">
                <div class="valign container">
                    <i class="material-icons" style="font-size:300px;">description</i>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="valign-wrapper" style="height:500px;">
                <div class="valign container">
                    <h4>Overeenkomsten sluiten</h4>
                    <p>Dankzij de Web DBA moet je nu voor elke opdracht een nieuwe
                        overeenkomst sluiten. InvoiceGen vereenvoudigt dit. Je maakt een keer een
                        modelovereenkomst aan, kiest de opdrachten van toepassing op deze overeenkomst en
                        verstuurt een link naar je opdrachtgever. De opdrachtgever controleert of alles klopt en
                        ondertekent deze eenvoudig op zijn of haar smartphone, tablet of desktop. Kun jij direct
                        ermee aan de slag.</p></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 right">
            <div class="valign-wrapper" style="height:500px;">
                <div class="valign container">
                    <i class="material-icons" style="font-size:300px;">credit_card</i>
                </div>
            </div>
        </div>
        <div class="col s12 m6">

            <div class="valign-wrapper" style="height:500px;">
                <div class="valign container">
                    <h4>Uitgaande & inkomende facturen</h4>
                    <p>Je kunt eenvoudig uitgaande facturen aanmaken. Selecteer de
                        opdrachten die je wilt factureren en klaar! BTW, totaalbedrag en meer wordt automatisch
                        berekend. Je kunt facturen eenvoudig exporteren naar de meest gangbare formaten.
                        Ook facturen die binnenkomen, beheer je eenvoudig met InvoiceGen. Je kunt de PDF naar
                        InvoiceGen uploaden en zo opslaan. Zo verlies je kosten niet uit het oog.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row teal white-text">
        <div class="col s12 m6">
            <div class="valign-wrapper center-align" style="height:400px;">
                <div class="valign container"><i class="material-icons" style="font-size:300px;">done</i>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container">
                    <h4>Hulp met BTW-aangifte</h4>
                    <p>
                        InvoiceGen zet netjes per kwartaal voor je alle inkomende en
                        uitgaande facturen op een rij en berekent automatisch het verschil tussen uitgaande en
                        inkomende BTW, zodat jij eenvoudig BTW-aangifte kan doen.
                    </p></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 right">
            <div class="valign-wrapper center-align" style="height:400px;">
                <div class="valign container"><i class="material-icons" style="font-size:300px;">work</i>
                </div>
            </div>
        </div>
        <div class="col s12 m6">

            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container">
                    <h4>Uren bijhouden</h4>
                    <p>Met InvoiceGen houd je eenvoudig je uren bij. Je kunt tijdens
                        het werken ervoor kiezen om je uren bij te houden, door een opdracht te selecteren en op
                        Start en Stop te klikken. Je kunt er ook voor kiezen om achteraf uren per opdracht te
                        registreren.</p></div>
            </div>
        </div>

    </div>

    <div class="row teal white-text">
        <div class="col s12">
            <div class="container">
                <h3>Inclusief batterijen</h3>
                <p class="flow-text">Zodat je er meteen mee aan de slag kunt</p>
                <table class="bordered">
                    <tbody>
                    <tr>
                        <td>Onbeperkt aantal facturen, opdrachten, opdrachtgevers, overeenkomsten</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Facturen exporteren naar</td>
                        <td><b>docx, pdf, Markdown</b></td>
                    </tr>
                    <tr>
                        <td>Geoptimaliseerd voor</td>
                        <td><b>pc, smartphone en tablet</b></td>
                    </tr>
                    <tr>
                        <td>Je eigen subdomein kiezen</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Beveiligd met HTTPS</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Klaar voor de Wet DBA</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Overeenkomsten ondertekenen met je vinger of muis</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Overeenkomsten veilig delen met je opdrachtgever</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Integratie met <a class="orange-text" href="http://wunderlist.com" target="_blank">Wunderlist</a></td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Hulp met BTW-aangifte</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>

                    <tr>
                        <td>Eenvoudig je uren bijhouden</td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="container">
                InvoiceGen werkt optimaal met Google Chrome, Safari en Microsoft Edge</div>
        </div>

    <div class="row">

        <div class="row">
            <div class="col s12 m12 l6 offset-l3">
                <img src="/static/images/voorpagina%20MacBook.png" class="responsive-img"/>
            </div>
        </div>
        <div class="col s12">
            <div class="container"><h3>Meld je nu aan</h3>
                <p class="flow-text">Al deze functies en meer nu een maand gratis.<br /> <a href="/registreren">Probeer
                    InvoiceGen nu zelf!</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
