{% extends "Tenants/tenants_base.html" %}
{% block content %}
    {% if success %}
        <div class="container">
            <div class="card-panel">
                <h4>Registratie voltooid</h4>
                Uw registratie is succesvol voltooid. Uw factuuromgeving wordt opgezet en is binnen enkele ogenblikken
                te vinden
                op <a href="https://{{ subdomain }}.invoicegen.nl">https://{{ subdomain }}.invoicegen.nl</a>. Uw kunt
                inloggen met uw e-mailadres als gebruikersnaam en het net ingevulde wachtwoord.
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="valign-wrapper" style="height:400px;">
                    <div class="valign">
                        <div class="hide-on-small-and-down">
                            <h2 class="center-align">InvoiceGen is jouw persoonlijke administratieomgeving</h2>
                        </div>
                        <div class="hide-on-med-and-up">
                            <h5 class="center-align">InvoiceGen is jouw persoonlijke administratieomgeving</h5>
                        </div>

                        <p class="center">
                            We zijn nu druk aan het testen in onze nieuwe omgeving! In de lente van 2017 komt InvoiceGen voor iedereen beschikbaar.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center grey-text text-darken-3"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Opdrachten, facturen, overeenkomsten</h5>

                            <p class="light">Dankzij de overzichtelijke interface van InvoiceGen, heb je snel overzicht
                                van
                                openstaande opdrachten en opdrachten uit eerdere jaren. Ook heb je zo een factuur
                                gestuurd.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center grey-text text-darken-3"><i class="material-icons">group</i></h2>
                            <h5 class="center">Klaar voor de VAR-opvolger</h5>

                            <p class="light">InvoiceGen heeft ingebouwde ondersteuning voor de nieuwe Wet DBA van de
                                Belastingdienst voor zelfstandigen. Je maakt eenvoudig overeenkomsten
                                en ondertekent deze digitaal met je smartphone of tablet.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center grey-text text-darken-3"><i class="material-icons">smartphone</i></h2>
                            <h5 class="center">Tablet en smartphone</h5>

                            <p class="light">InvoiceGen werkt perfect op smartphone en tablet. Ook is elke omgeving van
                                InvoiceGen versleuteld met HTTPS. Zo heb je overal veilig toegang tot IG.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row teal">
        <div class="col s12 m6">
            <div class="center-align">
                <img src="/static/images/liggende%20iPhone.png" class="responsive-img"/>
            </div>
        </div>
        <div class="col s12 m6 ">
            <div class="valign-wrapper white-text" style="height:400px;">
                <div class="valign container">
                    <h3>Wat is InvoiceGen?</h3>
                    <p class="flow-text">InvoiceGen is jouw eigen persoonlijke omgeving om opdrachten, overeenkomsten en
                        facturen te beheren.
                    </p>
                    <p class="flow-text">
                        <a href="/functies" class="white-text text-darken-1">Lees meer over wat InvoiceGen allemaal
                            kan</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col s12 m6 right">
            <img src="/static/images/nieuwe%20opdracht%20toevoegen.png" class="responsive-img"/>
        </div>
        <div class="col s12 m6">
            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container"><h3>Opdrachten beheren</h3>
                    <p class="flow-text">Eenvoudig opdrachten toevoegen, ook op je smartphone
                        onderweg. Voor als je net die nieuwe opdracht binnen hebt gekregen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="row teal white-text">
        <div class="col s12 m6 left">
            <img src="/static/images/voorpagina%20iPad.png" class="responsive-img"/>
        </div>
        <div class="col s12 m6">
            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container"><h3>Uren bijhouden</h3>
                    <p class="flow-text">Selecteer een opdracht en tik op <b>Start</b>. Voer wanneer je wilt je
                        werkzaamheden in. Klik op <b>Stop</b> als je klaar bent, het maakt niet uit op welk apparaat.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col s12 m6 right">
            <img src="/static/images/macbook-air-factuur.png" class="responsive-img"/>
        </div>
        <div class="col s12 m6">
            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container">
                    <h3>Facturen sturen</h3>
                    <p class="flow-text">Het maken en sturen van facturen is een eitje. Je exporteert ze met een druk op
                        de
                        knop als docx, pdf of Markdown.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="row teal white-text">
        <div class="col s12 m6 left">
            <img src="/static/images/overeenkomst%20ondertekenen.png" class="responsive-img"/>
        </div>
        <div class="col s12 m6">
            <div class="valign-wrapper" style="height:400px;">
                <div class="valign container"><h3>Overeenkomsten ondertekenen</h3>
                    <p class="flow-text">Het maken van een overeenkomst is een fluitje van een cent. Je opdrachtgever
                        ondertekent deze digitaal, zodat jij snel aan de slag kan.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Probeer het nu 1 maand gratis</h3>
                <p class="flow-text">Daarna € 5 euro per maand, inclusief BTW</p>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Online beveiligde
                            omgeving
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">description</i>Overeenkomsten sluiten
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">credit_card</i>Uitgaande & inkomende
                            facturen beheren
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">done</i>BTW-aangifte</div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">work</i>Uren bijhouden</div>
                    </li>
                </ul>

                <a class="waves-effect waves-teal btn-flat" href="/functies">Meer over de functies lezen</a>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="container">
        <div class="row">
            <h3>Recent geplaatst op het blog</h3>

            <div class="row">
                {% for blog in blogs %}
                    <div class="col s12 m12 l6">
                        <div class="card large">
                            <div class="card-image">
                                <img src="/static/images/{{ blog.image }}">
                                <span class="card-title"><a href="/blog/{{ blog.id }}/{{ blog.slugify }}" class="white-text">{{ blog.title }}</a></span>
                            </div>
                            <div class="card-content">
                                <p>{{ blog.contents|safe }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/blog/{{ blog.id }}/{{ blog.slugify }}">Meer lezen...</a><br/>
                                Gepubliceerd op {{ blog.created }} door
                                <div class="chip">
                                    {{ blog.author }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
