{% extends 'agreements/agreements.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block agreements_active %}active{% endblock %}

{% block title %}
    Overeenkomst
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Overeenkomsten toevoegen" "" %}
{% endblock %}

{% block content %}
    <h4>Overeenkomst toevoegen (2/2)</h4>

    <form class="col s12" method="post" action="{% url "new_agreement_step_two" agreement_id %}">
        {% csrf_token %}

        {% for variable in variables.all %}
            <div class="input-field col s12">
                <input type="text" placeholder="{{ variable.description }}" id="variable{{ variable.id }}"
                       name="variable{{ variable.id }}" class="validate"></input>
                <label for="variable{{ variable.id }}">{{ variable.description }} ({{ variable.name }})</label>
            </div>
        {% endfor %}

        <button class="btn waves-effect waves-light" type="submit" name="submit">
            Overeenkomst opslaan
            <i class="material-icons left">send</i>
        </button>
    </form>
{% endblock %}
