{% extends 'agreements/agreements.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block agreements_active %}active{% endblock %}

{% block title %}
    Overeenkomst
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Overeenkomsten toevoegen" "" %}
{% endblock %}

{% block content %}
    <h4>Overeenkomst toevoegen (1/2)</h4>
    {% if error %}
        {{ error }}
    {% endif %}

    <form class="col s12" method="post" action="{% url "add_agreement" %}">
        {% csrf_token %}

        <div class="row">

            <div class="input-field col s12">
                {{ form.company }}
                <label for="{{ form.company.id_for_label }}">Opdrachtgever</label>
            </div>

            <div class="input-field col s6">
                {{ form.client_name }}
                <label for="{{ form.client_name.id_for_label }}">Naam contactpersoon opdrachtgever</label>
            </div>

            <div class="input-field col s6">
                {{ form.client_emailaddress }}
                <label for="{{ form.client_emailaddress.id_for_label }}" data-error="Voer een geldig e-mailadres in">E-mailadres
                    contactpersoon</label>
            </div>

            <div class="input-field col s12">
                {{ form.agreement_text }}
                <label for="{{ form.agreement_text.id_for_label }}">Modelovereenkomst</label>
            </div>

            <div class="input-field col s12">
                {{ form.article_concerned }}
                <label for="{{ form.article_concerned.id_for_label }}">Opdrachten</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="submit">
                {% if edit %}
                    Bewerken
                {% else %}
                    Volgende stap
                {% endif %}
                <i class="material-icons left">send</i>
            </button>

            <a href="javascript: history.go(-1)" class="waves-effect waves-teal btn-flat">Annuleren</a>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}
