{% extends 'Invoices/outgoing_invoice_table.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}
{% block invoices_active %}active{% endblock %}

{% block title %}
    Factuur inzien
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Factuur per e-mail versturen" "" %}
{% endblock %}

{% block content %}

    <div class="row">
      <h4>Factuur per e-mail versturen</h4>

      <div class="col s12 m6">
            Kies je e-mailtemplate:
      <select>
        <option value="" disabled selected>Geen e-mailtemplate</option>
        {% for etemplate in emailtemplates %}
          <option value="{{ etemplate.id }}">{{ etemplate.subject }}</option>
        {% endfor %}
      </select>
    </div>
        <form id="email_form" class="col s12" method="post" action="{% url "save_and_send_email" %}">
          {% csrf_token %}
          <div class="row">
              <div class="input-field col s12">
                  {{ form.subject }}
                  <label for="{{ form.subject.id_for_label }}">Onderwerp</label>
                  {{ form.errors.subject }}
              </div>
              <div class="input-field col s12">
                  {{ form.to }}
                  <label for="{{ form.to.id_for_label }}">Aan</label>
                  {{ form.errors.to }}
              </div>
              <div class="input-field col s6">
                  {{ form.cc }}
                  <label for="{{ form.cc.id_for_label }}">CC</label>
                  {{ form.errors.cc }}
              </div>
              <div class="input-field col s6">
                  {{ form.bcc }}
                  <label for="{{ form.bcc.id_for_label }}">BCC</label>
                  {{ form.errors.bcc }}
              </div>
              <div class="input-field col s12">
                  {{ form.contents }}
                  <label for="{{ form.contents.id_for_label }}">Bericht</label>
                  {{ form.errors.contents }}
              </div>

              <p style="margin-left:10px">
                  {{ form.attach_pdf }}
                  <label for="{{ form.paid.id_for_label }}">Voeg PDF als bijlage toe</label>
              </p>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="submit">Mail verzenden
              <i class="material-icons left">send</i>
          </button>
      </form>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
          $('select').material_select();

          $('select').change(function() {
            var selectedOption = this.value
            $.ajax({
                type: "POST",
                url: '{% url "get_template" %}',
                data: {
                    email_template_id: selectedOption,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                  $('#id_subject').val(data.subject);
                  $('#id_contents').text(data.contents);
                  Materialize.updateTextFields();
                },
            });
          });
      });
    </script>

{% endblock %}
